
.github/dependabot.yml
dependabot.yml
dependabot/
dependabot_alerts/
shark Tank presentation/Communication shark tank.pdf


BSCS 6B/Web Technologies/1_to_1/pom.xml

# Ignore Acunetix files
BSCS 6B/Web Technologies/[FTUApps.com] - Acunetix Web Vulnerability Scanner v13.0.200217097 for Linux x64 + Crack/
# Ignore Acunetix files
BSCS 6B/Web Technologies/[FTUApps.com] - Acunetix Web Vulnerability Scanner v13.0.200217097 for Linux x64 + Crack/
BSCS 6B/Web Technologies/[FTUApps.com] - Acunetix Web Vulnerability Scanner v13.0.200217097 for Linux x64 + Crack.zip
